<div id="HomepageNavbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
     <div class="container-fluid">
     <ul class="nav navbar-nav">
     <li class="active"><a class="nav-link" routerLink="/">Chat</a></li>
     <li><a class="nav-link" routerLink="/accountSettings">Account Settings</a></li>
     <li ><a class="nav-link" routerLink="/newUser">Add A New User</a></li>
     <li><a class="nav-link" routerLink="/accounts">View Accounts</a></li>
     </ul>
     <button (click)="LogOut()" class="btn btn-primary">Log Out</button>
     </div>
    </nav>
   </div>
   <div class="bg-light  align-content-center ">
   <br>
   <br>
    </div>
    <div class="container">
    <router-outlet></router-outlet>
    </div>
   