<div class="container">
    <h2 class="d-flex justify-content-center ">USERS</h2>
    <p class="d-flex justify-content-center ">--------------------------------------------</p>
    <br>
    <br>
    <div id="accounts" class="d-flex justify-content-center ">
        <div *ngFor="let user of userSet" class ="bg-light m-4">
            <h4 class="d-flex justify-content-center ">{{user.username}}</h4>
            <ul >
                <li>Id: {{user.id}} </li>
                <li>email: {{user.email}} </li>
                <li>password: {{user.pwd}} </li>
                <li>role: {{user.role}} </li>
            </ul>
            <button (click)="IdUpdate(user.id)" class="btn btn-primary ">Update</button>
            <button (click)="DeleteUser(user.id)" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
