<div *ngIf="isSuper; else elseBlock">
    <div class="container">
        <div class="bg-light  flex-wrap align-content-right ">
            <div class="form-group">
                <h2>Create A New User</h2>
                <form>
                    <label>Username: </label>
                    <input type="text"  class="form-control" placeholder="Enter a new username" [(ngModel)]="username" name="username">
                    <label>Password: </label>
                    <input type="text"   class="form-control" placeholder="Enter a secure password" [(ngModel)]="pwd" name="pwd" >
                </form>
                <br>
                <button (click)="createUser(username, pwd)" class="btn btn-primary">Create A New User!</button>
            </div>
        </div>
    </div>

</div>
<ng-template #elseBlock>Woahhhh there - You have to be a SuperAdmin with Super powers to do this. I think you better leave :P</ng-template>